<div class="btn-group ml-auto">
    {% if row.modification == true %}
        <a href="{{ path('shipment_client_details_view', {'id': row.id }) }}" class="btn btn-sm btn-outline-light">View details</a>
    {% else %}
        <a href="{{ path('shipment_client_details', {'id': row.id }) }}" class="btn btn-sm btn-outline-light">View details</a>
    {% endif %}
</div> 