{% extends "_partials/body.html.twig" %}
{% block title %}- New delivery{% endblock %}
{% block content %}
    <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
        <div class='card'>
            <h5 class='card-header'>New delivery</h5>
            <div class='card-body'>
                {{form_start(form)}}
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}