{% extends "_partials/body.html.twig" %}
{% block title %}- Component operation update{% endblock %}
{% block page_header_title %}
    Component operation update
{% endblock %}
{% block breadcrumb_link %}
    <li class="breadcrumb-item">
        <a href="{{ path('component') }}" class="breadcrumb-link">Component</a>
    </li>
{% endblock %}
{% block content %}
    <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
        <div class='card'>
            <div class='card-body'>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}