<div class="btn-group ml-auto">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('shipment_update', {'id': row.id }) }}" class="btn btn-sm btn-outline-light">Edit</a>
    {% endif %}
    <a href="{{ path('shipment_details', {'id': row.id }) }}" class="btn btn-sm btn-outline-light">View clients</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('shipment_remove', {'id': row.id }) }}" class="btn btn-sm btn-outline-light remove">
            <i class="far fa-trash-alt"></i>
        </a>
    {% endif %}
</div> 