<div class="btn-group ml-auto">
    <a href="{{ path('product_update', {'id': row.id }) }}" class="btn btn-sm btn-outline-light">Edit</a>
    <a href="{{ path('product_operations', {'id': row.id }) }}" class="btn btn-sm btn-outline-light">View operations</a>
    <a href="{{ path('product_remove', {'id': row.id }) }}" class="btn btn-sm btn-outline-light remove">
        <i class="far fa-trash-alt"></i>
    </a>
</div>
