<div class="ml-auto">
    {#<div class='btn-group'>
        <a href="{{ path('component_operation_update', {'id': row.id }) }}" class="btn btn-sm btn-outline-light">Edit</a>
        <a href="{{ path('component_operation_remove', {'id': row.id }) }}" class="btn btn-sm btn-outline-light remove">
            <i class="far fa-trash-alt"></i>
        </a>
    </div>#}
    <div class='btn-group'>
        {% if row.production_id %}
            <a href="{{ path('production_detail_view', {'id': row.production_id }) }}" class="btn btn-sm btn-outline-light">View production</a>
        {% endif %}
        {% if row.shipment_id %}
            <a href="{{ path('shipment_details', {'id': row.shipment_id }) }}" class="btn btn-sm btn-outline-light">View shipment</a>
        {% endif %}
    </div>
</div>