<div class="btn-group ml-auto">
    <a href="" class="btn btn-sm btn-outline-light">Edit</a>
    <a href='' class="btn btn-sm btn-outline-light">View production</a>
    <a href='' class="btn btn-sm btn-outline-light">View shipment</a>
    <button data-id="{{ row.id }}" class="btn btn-sm btn-outline-light remove">
        <i class="far fa-trash-alt"></i>
    </button>
</div>