{% extends "_partials/body.html.twig" %}
{% block content %}
  <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
    <div class="error-section">
      <div class='danger'><h1>Are you lost?</h1></div>
      <div class="error-section-content">
        <h1 class="display-3">Where we are... ?</h1>
        <p> The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        <a href="{{ path('panel') }}" class="btn btn-secondary btn-lg">Back to homepage</a>
      </div>
    </div>
  </div>
{% endblock %}